body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    background-color: white;
    margin-top: -100px;
}
nav img{
    margin-left: 200px;
}

nav h1{
    font-size: 1.5rem;
}
nav a{
    text-decoration: none;
    color: grey;
}
nav div ul li{
    list-style-type: none;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
    padding-left: 10px;
    
}
div span{
    margin-left: 300px;
}

nav div a:hover{
    color: rgb(16, 243, 213);
}

nav span{
    color: rgb(16, 243, 213);
}


.paragraphe1{
    color: rgb(43, 204, 150);

}

.sec1{
    text-align: center;
    margin-top: 100px;
}

.par2{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    margin: 10px 200px;
    
    
}
.principal{
    display: flex;
    justify-content: space-evenly;
    margin-right: 10px;
    color: white;
    margin: 10px 100px;
}
.parti1{
    background-color: rgb(23, 219, 154);
    padding: 20px 30px;
    margin-right: 10px;
}
.parti2{
    background-color: rgb(22, 94, 161);
    padding: 20px 30px;
    margin-right: 10px;
}
.parti3{
    background-color: rgb(50, 67, 83);
    padding: 20px 30px;
   
}
.nnn{
    color: rgb(23, 219, 154);
    margin: 50px 0 50px 100px;
}
.lien{
    text-decoration: none;
    color: grey;text-align: right;
    justify-content: space-between;
    margin-right: 200px;
    margin-top: -100px;
}

.sec3{
    text-align: center;
    margin: 50px 200px;
}
.sec3 h3{
    color: rgb(43, 204, 150); ;
}
.sec3 p{
    color: grey;
}

.sec4{
    margin: 50px 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sec4 p{
    color: grey;
    margin-left: 40px;
    font-size: 20px;
}
.sec5{
    text-align: center;
    margin: 100px;
}
.sec5 p{
    color: grey;
}
.sec5 a{
    background-color: rgb(72, 72, 235);
    color: white;
    padding: 10px;
    text-decoration: none;
}
.sec6{
    text-align: center;
    color: grey;
    font-size: 15px;
}
.sec6 a{
    text-decoration: none;
    color: rgb(40, 40, 226);
}
.sec6 a:hover{
    text-decoration: underline;
}
footer{
    text-align: center;
    font-size: 15px;
    color: grey;
    margin: 20px;
}



